.navbar .container {
    min-height: 60px;
}

a {
    text-decoration: none;
}

.dropdown-toggle {
    font-size: 16px;
    color: #a0a0a0;
    font-weight: 700;
}

.navbar-nav .dropdown-menu.dropdown_expanded {
    display: block;
    position: absolute;
    background-color: #212529;
}

.dropdown-menu.dropdown_expanded a:hover {
    background-color: #212529;
}